<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button [routerLink]="['/home']">Home</a></mat-list-item>
          <mat-list-item><a mat-button>About</a></mat-list-item>
          <mat-list-item><a mat-button>Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address>
          IIIT BBSR<br>
          Khandagiri, Bhubaneswar<br>
          India<br>
          <i class="fa fa-phone"></i>: +911234567890<br>
          <i class="fa fa-fax"></i>: +919087654321<br>
          <i class="fa fa-envelope"></i>: 
              <a>ourmail@iiit-bh.ac.in</a>
        </address>

      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2018 </p>
  </div>
</div>