<mat-toolbar color="primary">
  <span> <img src="../../../images/logo.jpg" 
              alt="logo" width="60px" height="60px"></span>
  <a mat-button [routerLink]="['/home']"> <i class="material-icons"> home </i> Home </a>
  <a mat-button [routerLink]="['/menu']"> <i class="material-icons"> menu </i> Menu </a>
  <a mat-button> <i class="material-icons"> contacts </i>Contact </a>
  <a mat-button> <i class="material-icons"> supervisor_account </i>About Us</a>
  <button mat-button [matMenuTriggerFor]="sclerk_menu" *ngIf="isAdmin() || isSalesClerk()">
    <i class="material-icons"> assessment </i> Inventory Management</button>
  <mat-menu #sclerk_menu="matMenu"> 
    <button mat-menu-item> Stock Detail </button>
    <button mat-menu-item> Order Ingredient </button>
    <button mat-menu-item> Generate Bill </button>
    <button mat-menu-item> Item Sale </button>
  </mat-menu>
  <a mat-button *ngIf="isAdmin()"> <i class="material-icons"> receipt </i>Reports </a>
  <span class="flex-spacer"></span>
  <a mat-button> <i class="material-icons"> exit_to_app </i> Login </a>
</mat-toolbar>

