<mat-toolbar color="primary">
  <span> <img src="../../../images/logo.jpg" 
              alt="logo" width="60px" height="60px"></span>
  <button mat-button [routerLink]="['/home']"> <i class="material-icons"> home </i> Home </button>
  <button mat-button [matMenuTriggerFor]="manager_menu">
      <i class="material-icons"> menu </i> Menu</button>
  <mat-menu #manager_menu="matMenu">
    <button mat-menu-item [routerLink]="['/menu']"> Dish Menu </button>
    <button mat-menu-item *ngIf="isAdmin()" (click)="openDishAddForm()"> Add new Dish </button>
  </mat-menu>
  <button mat-button> <i class="material-icons"> contacts </i>Contact </button>
  <button mat-button> <i class="material-icons"> supervisor_account </i>About Us</button>
  <button mat-button [matMenuTriggerFor]="sclerk_menu" *ngIf="isAdmin() || isSalesClerk()">
    <i class="material-icons"> assessment </i> Inventory Management</button>
    <mat-menu #sclerk_menu="matMenu"> 
      <button mat-menu-item [routerLink]="['/stock']"> Stock Detail </button>
      <!-- <button mat-menu-item> Order Ingredient </button> -->
      <button mat-menu-item [routerLink]="['/purchaseStock']"> Ingredient Purchase </button>
      <!-- <button mat-menu-item> Ingredient For Dish</button> -->
      <!-- <button mat-menu-item> Generate Bill </button> -->
      <!-- <button mat-menu-item> Item Sale </button> -->
    </mat-menu>
  <button mat-button *ngIf="isAdmin()" [routerLink]="['/reports']"> <i class="material-icons"> receipt </i>Reports </button>
  <span class="flex-spacer"></span>
  <button mat-button (click)="openLoginForm()" *ngIf="!isLoggedIn()"> <i class="material-icons"> exit_to_app </i> Login </button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn()"> <i class="material-icons"> exit_to_app </i> Logout </button>
</mat-toolbar>