/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/font-awesome/css/font-awesome.css';


body {
    padding: 0;
    margin: 0;
    font-family: roboto,sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

.background-primary {
    background-color: #512DA8!important;
  }
.background-accent {
    background-color: #FFC107!important;
  }
.text-floral-white {
    color: floralwhite!important;
}
